.container {
    position: relative;

    .content {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: .5rem;

        .image {
            min-width: 180px;
            min-height: 180px;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            transition: all 300ms ease-in-out;

            .img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: all 300ms ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .region {
            font-size: 17px;
            color: black;
            font-weight: 600;
        }

        .price {
            display: flex;
            align-items: center;
            gap: .2rem;

            .light {
                opacity: .8;
                color: #999;
            }
        }
    }

    .like {
        position: absolute;
        top: 0;
        right: .7rem;
        top: .7rem;
        z-index: 1;
    }
}