.search {
    @media screen and (max-width:425px) {
        width: 100%;
    }

    .filterContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
        border: 1px solid #d1d1d1;
        border-radius: 50px;
        width: 100%;
        justify-content: space-between;

        .anywhere,
        .anyweek {
            padding: .2rem .8rem;
            font-size: 14px;
            font-weight: 600;
            color: #4e4e4e;
            border-right: 1px solid #bdbcbc;

            &:hover {
                cursor: pointer;
            }
        }

        .anyweek {
            padding-left: 0;
        }

        .guest {
            display: flex;
            align-items: center;
            padding: .4rem .5rem .4rem 0;
            gap: .5rem;

            &:hover {
                cursor: pointer;
            }

            .add {
                font-size: 14px;
            }

            .searchIcon {
                background: red;
                border-radius: 50%;
                padding: .4rem;
                font-size: 1.7rem;
                color: aliceblue;
            }
        }

        @media screen and (max-width:425px) {
            .anyweek {
                display: none;
            }

            .anywhere {
                border-right: none;
            }

            .guest {
                .add {
                    display: none;
                }
            }
        }
    }
}