.category {
    .categories {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
        max-height: 40vh;
        overflow-y: auto;
    }
}

.location {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.mapp {
    min-height: 35vh;
}

.counter {
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem;
    margin-top: 1.5rem;
}

.imgUpload {
    margin-top: 1.5rem;
}

.desc {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}