.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    width: 100%;
    border-radius: 10px;
    transition: all 300ms linear;
    font-size: 16px;
    &:hover {
        opacity: .8;
    }
    .icon{
        font-size: 18px;
    }
}

.outline {
    background: transparent;
    border: 1px solid #888;
    color: #222;
    font-weight: 500;
}

.noOutline {
    background: rgb(241, 41, 41);
    color: #fff;
}

.small {
    padding: .5rem;
    border-radius: 5px;
}

.normal {
    padding: 1rem;
}

.disabled {
    opacity: .5;

    &:hover {
        cursor: not-allowed;
        opacity: .5;
    }
}