@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  list-style: none;
  text-decoration: none;
}

html,
:root {
  height: 100%;
}

input,select{
  outline: none;
}

body{
  font-size: 16px;
  color: #727272;
  font-weight: 400;
}