.notFound {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listings {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}