.selectedCategory {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid #999;
    border-radius: 8px;
    padding: .5rem;
    font-weight: 500;
    color: #444;
    cursor: pointer;

    &:hover {
        border: 1px solid #111;
    }

    .label {
        font-size: 13px;
    }
}

.selected{
    border: 1px solid #000;
    color: #111;
}