.selectedCategory {
    border: 1px solid #888;
    border-radius: 8px;
    padding: .5rem;
    font-weight: 500;
    cursor: pointer;

    &:hover {
        border: 1px solid #111;
    }

    .label {
        font-size: 14px;
    }
}