.inputContainer {
    display: flex;
    flex-direction: column;
    gap: .3rem;

    .label{
        font-weight: 600;
    }
    .input{
        border: 1px solid #9a9a9a;
        padding: .7rem .5rem;
        border-radius: 5px;
    }
    .input::placeholder{
        font-size: 15px;
        opacity: .8;
    }
}